*/*~
*/*.sw[mnpcod]
*/*.log
*/*.tmp
*/*.tmp.*
*/log.txt
*/*.sublime-project
*/*.sublime-workspace
*/.vscode/

.DS_Store
*/.idea/
*/.DS_Store
*/**/.DS_Store
*/Thumbs.db
.idea/*
.env
*/.idea/*
*/.idea/workspace.xml
*/dist/*
*/node_modules/*

.idea/
Thumbs.db
dist/*
.eslintcache
node_modules/*
logs/*
